apache-airflow-providers-apache-spark==4.8.0
pyspark==3.5.1
h3==3.7.6
delta-spark==3.2.0
great_expectations==0.15.50
keplergl
paramiko
apache-airflow-providers-sftp
trino
pandas
psycopg2-binary
prophet 
pyarrow